// THEME 1
$theme-color-1: #6ee67f;
$theme-color-2: #F3DE77;
$theme-color-3: white;
$theme-color-4: #e47178;
$theme-color-5: #f7f7f7;
$theme-color-6: rgba(204,204,204,.1);
$theme-color-7: #c6c6c6;
$theme-color-8: rgba(0,0,0,.3);
$theme-color-9: #474847;
$theme-color-10: #00aaee;
$theme-backcolor-1: rgba(0,0,0,0.5);
$theme-color-11: #b5b4b4;
$theme-color-12: #66d99f;
$theme-color-13: #e9ebed;
$theme-color-14: #65779e;
$theme-color-15: #676767;
// THEME 2
// $theme-color-1: #9F3BA2;
// $theme-color-2: #FEAF40;
// $theme-color-3: #666666;

// THEME 3
// $theme-color-1: #5457BC;
// $theme-color-2: #42BB84;
// $theme-color-3: #135686;

// THEME 4
// $theme-color-1: #39C157;
// $theme-color-2: #FF5D4C;
// $theme-color-3: #444444;
