.page-view
{
  .page-content
  {
    padding: 20px;
  }
}

.chatDetails-view{
  .toggle .track{
    width: 42px;
    height: 22px;
  }
  .item-toggle .toggle {
    top: 20px;
  }
  .toggle .handle{
    width: 20px;
    height: 20px;
    top: 6px;
  }
  .self-content .item {
    padding: 20px 12px;
  }
}
