.forgot-password-view
{
  .button.recover
  {
    margin-top: 20px;
    border-radius: 6px;
    font-weight: 500;
  }

  .alternative-actions
  {
    .sign-up
    {
      float: right;
    }
  }

  .login-container {
    .button.login {
      background-color: $highlighted-comment;
    }
  }
  
  .login-input {
    input {
      text-align: left;
    }
  }
  .getCode{
    border-bottom: 1px solid $theme-color-13;
    input{
      border: none !important;
    }
    button{
      height: 12px !important;
      line-height: 12px !important;
      font-size: 12px !important;
      margin-top: 8px;
      min-height: 30px;
    }
  }
  .colorFont{
    color: $theme-color-1;
  }
  .bar-title{
    font-weight: normal !important;
    color: black;
  }
}
