<!--<ion-view class="forgot-password-view">
  <ion-header-bar  align-title="center" class="flex-space-container" style="top:20px;">
    <div  class="button icon ion-chevron-left self-bar-button" ng-click="goBack()"></div>
    <h1 class="bar-title">找回密码</h1>
  </ion-header-bar>
  <ion-content style="margin-top:30px;">
    <div class="login-container">
      <form name="forgot_password_form" novalidate style="width:100%;">
        <div class="login-content">
          <div class="login-input" style="padding:5px 0;">
            <input type="number" class="flex-item-expand" name="user_name" ng-blur='blur()' ng-pattern="/^1[3578]\d{9}$/" ng-focus='focus()' oninput="if(value.length>11) value=value.slice(0,11)" ng-model="user.userName" autofocus required placeholder="请输入手机号码" maxlength="11">
          </div>
          <p class="message">{{message}}</p>
          <button type="submit" class="recover button button-block" ng-click="getSmsCode()" ng-disabled="!user.userName" style="color:white;">
            下一步
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>-->
<ion-view class="phoneLogin-view">
  <ion-content class="flex-column-center-space-container" style="overflow: hidden;">
    <div style="height:42px;"><div margin="20px 10px 0px 20px" width="22px" height="22px" background-img src="data/toGoBack.png" ng-click="goBack()"></div></div>
    <h1 style="color:#242624;font-size:24px;">找回密码</h1>
    <form name="login_form" novalidate style="height:276px;">
      <div class="login-content phoneLogin-container">
        <div class="login-input phoneLogin-input"> 
            <input type="number" name="user_name" ng-model="user.userName" ng-blur="blur()" required placeholder="请输入手机号码" ng-pattern="/^1[3578]\d{9}$/" onkeyup="value=this.value.replace(/\D+/g,'')" oninput="if(value.length>11) value=value.slice(0,11)" style="width:55%;margin-left:10px;">
            <button class='button' ng-click="getSmsCode()" ng-disabled="!user.userName" ng-class=" !user.userName ? '' : 'colorGreen'">{{btnName}}</button>
          </div>
          <div class="login-input phoneLogin-input">
            <input type="number" ng-model="user.valid" required placeholder="请输入验证码" minlength="6" maxlength="6" onkeyup="value=this.value.replace(/\D+/g,'')" oninput="if(value.length>6)value=value.slice(0,6)" style="width:100%;margin-left:10px;">
          </div>
          <div class="login-input phoneLogin-input">
            <input type="{{data.passwordType}}" name="password" ng-model="user.password" ng-focus="fenterThePassword()" required placeholder="请设置新密码" minlength="6" maxlength="16" style="width:100%;margin-left:10px;" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"
            onkeyup="value=value.replace(/[\u4E00-\u9FA5]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\u4E00-\u9FA5]/g,''))">
            <div ng-click="toShowPassword()" style="padding:10px 10px 10px 0;">
              <div background-img ng-src="{{data.eyesWay}}"  width="21px" height="20px"></div>
            </div>
          </div>
          <p class="message error">{{error}}</p>
          <div ng-click="recoverPassword()" background-img ng-src="{{ user.userName&&user.valid&&user.password ? 'data/canGo.png' : 'data/notGo.png'}}" width="62px" height="62px" margin="52px auto 0"></div>
      </div>
    </form>
  </ion-content>
</ion-view>
