<ion-view class="forgot-password-view">
  <ion-header-bar  align-title="center" class="flex-space-container" style="top:20px;">
    <div  class="button icon ion-chevron-left self-bar-button" ng-click="goBack()"></div>
    <h1 class="bar-title">找回密码</h1>
  </ion-header-bar>
  <ion-content style="margin-top:30px;">
    <div class="login-container">
      <form name="forgot_password_form" novalidate style="width:100%;">
        <div class="login-content">
          <div style="text-align: center;font-size:13px;">
              <p>答尔文已将<em class="colorFont">短信验证码</em>发送到的你的手机：</p>
              <p class="colorFont">{{userName}}</p>
          </div>
          <div class='getCode'>
            <button class='button' ng-focus='focus()' ng-blur='blur()' ng-click="getSmsCodeAgain()" ng-disabled="!isCodeClicked">{{btnName}}</button>
            <input type="number" placeholder="短信验证码" maxlength="6" minlength="6" ng-model="user.valid" oninput="if(value.length>6) value=value.slice(0,6)" autofocus ng-pattern="/\d{6}/">
          </div>
          <div class="login-input" style="padding:5px 0;">
            <input type="password" name="password" class="flex-item-expand" required placeholder="密码(长度6-16位)" ng-model="user.password" minlength="6" maxlength="16">
          </div>
          <div class="login-input" style="padding:5px 0;">
            <input type="password" name="password_confirmation" ng-blur='verifyPassword()' class="flex-item-expand" required placeholder="再次输入密码" ng-model="user.truePassword" minlength="6" maxlength="16">
          </div>
          <p class="message">{{message}}</p>
          <button type="submit" class="recover button button-block" ng-click="recoverPassword()" ng-disabled=" !user.valid || user.password==undefined || ( user.password != user.truePassword)" style="color:white;">
            完成
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>