<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <ion-slide-box delegate-handle="walkthrough-slider" show-pager="false" style="height:100%;">
      <ion-slide>
        <img class="slide-image" ng-src="img/yindao_1.png"/>
      </ion-slide>
      <ion-slide>
        <img class="slide-image" ng-src="img/yindao_2.png"/>
      </ion-slide>
      <ion-slide>
        <img class="slide-image" ng-src="img/yindao_3.png"/>
      </ion-slide>
      <ion-slide style="position:relative;">
        <img class="slide-image" ng-src="img/yindao_4.png"/>
        <div style="height:8%;width:34%;position:absolute;left:33%;bottom:7.5%;" ng-click="visitorLogin()"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>