<div class="flex-container" style="justify-content: center;">挑战好友</div>
<div close-popup-back-drop class="flex-container" style="justify-content: center;height: 180px;">
  <div class="flex-column-center-container" style="width: 33%;" ng-click="pkDarwinFriends()">
    <div background-img src="data/pkDarwinFriends.png" round big></div>
    <div>答尔文</div>
  </div>
  <div class="flex-column-center-container" style="width: 33%;" ng-click="pkInviteWx()">
    <div background-img src="data/pkWxFriends.png" round big></div>
    <div>微信</div>
  </div>
  <div class="flex-column-center-container" style="width: 33%;" ng-click="pkInviteQQ()">
    <div background-img src="data/pkQQFriends.png" round big></div>
    <div>QQ</div>
  </div>
</div>