<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="//apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="/logs/logs.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
    <h3>Logs</h3>
    <table class="table table-striped">
        <tr ng-repeat="file in files">
            <td width="50">{{file.rownum}}</td>
            <td><a href="/logs/download/{{file.value}}">{{file.value}}</a></td>
        </tr>
    </table>
    <span class="pull-right" style="line-height: 34px; padding: 0 20px;">共{{totalPage}}页</span>
    <ul class="pagination pull-right" style="margin: 0px;padding: 0px;">
        <li><a href="#" ng-click="prePage()">&laquo;</a></li>
        <li ng-repeat="page in pages" ng-class="curpage==page ? 'active': '' "><a ng-click="bindClick(page,pageSize)">{{page}}</a></li>
        <li><a href="#" ng-click="nextPage()">&raquo;</a></li>
    </ul>

</div>
</body>
</html>