<ion-view class="aboutDarwin-view">
  <ion-content style="background-color:black;border:0;" scroll="false">
    <div background-img src="data/l_bg@3x.jpg" background-size="100% 100%" height="100%" width="100%" border="0">
      <button class="button self-bar-button-left" ng-click="goBack()" style="background-color:transparent;padding:0;border:0;margin-left:15px;padding-top:15px;">
        <div background-img src="data/a_left_white@3x.png" width="22px" height="22px"></div>
      </button>
      <div style="margin-top:100px;">
        <div background-img src="data/logo@3x.png" width="238px" height="80px" margin="0 auto"></div>
      </div>
      <!--<div style="margin-top:230px;">
        <p style="text-align: center;font-size:15px;color:#FFF;margin-bottom: 14px;">版本v{{appVersion}}</p>
        <div background-img src="data/xiala_white@3x.png" width="17px" height="17px" margin="0 auto"></div>
      </div>-->
      <div style="position:fixed;left:0;bottom:30px;width:100%;">
        <p style="color:#1AAD19;font-size:12px;text-align: center;margin:0;">深圳市华问科技有限公司</p>
        <p ng-click="goToTheWebsite()" style="color:#1AAD19;font-size:12px;text-align: center;margin:0;">官  网：<span style="color:#1AAD19;">www.aihuawen.com</span></P>
        <p style="color:#1AAD19;font-size:12px;text-align: center;margin:0;">邮  箱：service@aihuawen.com</P>
        <p style="color:#1AAD19;font-size:12px;text-align: center;margin:0;">地  址：深圳市龙华新区民乐科技园统建楼2栋12B</p>
      </div>
    </div>
    <!--<div style="background-color:black;">
        <p style="color:#FFF;font-size:28px;font-weight:bold;margin: 25px 0 54px;text-align: center;">一个专业的知识社交平台</p>
        <p style="color:#FFF;font-size:22px;text-align: center;">玩知识我们是认真的</p>
        <p style="color:#FFF;font-size:22px;margin-bottom:24px;text-align: center;">独创一对一解答服务</p>
        <p style="color:#FFF;font-size:22px;text-align: center;">变现你的知识财富</p>
        <p style="color:#FFF;font-size:22px;text-align: center;">遇到志同道合的TA</p>
        <p style="margin-top:125px;margin-bottom:12px;color:#1AAD19;font-size:12px;text-align: center;" ng-click="goToTheWebsite()">www.aihuawen.com</p>
        <p style="margin-bottom:12px;color:#1AAD19;font-size:12px;text-align: center;">深圳市华问科技有限公司</p>
        <p style="margin-bottom:65px;color:#1AAD19;font-size:12px;text-align: center;">免责声明</p>
    </div>-->
  </ion-content>
</ion-view>