<ion-view class="home-view">
  <ion-header-bar align-title="center" class="flex-space-container bar-bgcolor">
    <button style="color: white;" class="button icon ion-chevron-left self-bar-button" ng-click="goBack()"></button>
    <div class="h1 bar-title">征集大赛</div>
  </ion-header-bar>
  <ion-content scroll="true" style="padding: 0px 6px;" class="has-header">
    <div style="text-align: center; margin-top: 2%;">
      <h1>答尔文问题征集大赛 万元奖金等你来拿！</h1>
    </div>
    <div class="banner-p">
      <p>在生活和学习娱乐中，我们都会遇到各种各样的问题。</p>
      <p>为了顺利的完成某些事情，我们往往不得不提出问题寻求思路。</p>
      <p>但是，如何让更多的人响应你的问题呢？</p>
      <p>当然，怎样提问就是一门艺术了。</p>
      <p>怎样让你的问题脱颖而出，让大家愿意去关注并且抢答呢？<p>
      <p>提出你最有趣、最特别、最令人感兴趣的问题，让其他人争相回答，被抢答次数最多的前十个问题的提问者，都将获得大奖！</p>
      <div>
      <h2 class="banner-h2">提问参考：</h2>
      <p>例：王者荣耀中的刘备怎么打？（也可配图说明问题）</p>
      <h2 class="banner-h2">参与方式：</h2>
      <p>扫描二维码，关注“答尔文”公众号，在后台发送你发布的提问截图+答尔文账号ID+个人微信号+姓名+联系电话，就算成功参与到这个活动中啦~</p>
    </div>
    <div class="banner-p">
      <h2 class="banner-h2">评判标准&奖项设置：</h2>
      <p>奖项按照问题的被抢答次数和被偷看次数的多少来排名：</p>
      <p>一等奖，1名：奖金10000元</p>
      <p>二等奖，3名：奖金3000元</p>
      <p>三等奖，6名：奖金1000元</p>
      <p>活动时间：8月15号——   9月15号</p>
      <p>颁奖时间： 活动结束后五个工作日内</p>
    </div>
    <div class="banner-p">
      <h2 class="banner-h2">注意事项：</h2>
      <p>1.禁止恶意刷抢答数，若禁发现，封号处理。</p>
      <p>2.相同账号提出不同问题且不止一个得奖的，奖金叠加。</p>
      <p>3.在答尔文app上发布的问题与回答的版权与最终解释权，归答尔文所有。</p>
      <p>4.获奖者在收到获奖消息后5个工作日内未回复的，视为放弃。</p>
    </div>
    <div class="banner-p">
      <h1>最吸睛题目征集中… …</h1>
      <h1>万元大奖等你来拿！</h1>
    </div>
  </ion-content>
</ion-view>
