<ion-view class="modifyPassword-view">
  <ion-header-bar class="bar-bgcolor">
    <button class="button icon ion-chevron-left self-bar-button" ui-sref="settings"></button>
    <h1 class="bar-title">修改密码</h1>
  </ion-header-bar>
  <ion-content class="revise-password">
      <form name="authenticationForm" novalidate ng-submit="modifyUserPassword()" class="password-list">
        <label class="item item-input">
          <span class="input-label">当前密码</span>
          <input type="password" name="oldPassword" ng-model="toBeModifiedPassword.oldPassword" required confirm-pwd="user.password"/>
          <div class="form-errors" ng-messages="authenticationForm.oldPassword.$error" ng-if='authenticationForm.oldPassword.$touched'>
            <span class="form-error energized self-message" ng-message="password">密码不正确</span>
          </div>
        </label>
        <label class="item item-input">
          <span class="input-label">新密码</span>
          <input type="password" name="password" ng-model="toBeModifiedPassword.newPassword" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" maxlength="16" minlength="6" required />
          <div class="form-errors" ng-messages="authenticationForm.password.$error" ng-if='authenticationForm.password.$touched'>
            <span class="form-error energized self-message" ng-message="required">输入新密码</span>
          </div>
        </label>
        <label class="item item-input">
          <span class="input-label">确认新密码</span>
          <input type="password" name="password_confirmation" ng-model="toBeModifiedPassword.reTypeNewPassword" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" maxlength="16" minlength="6" required confirm-pwd="toBeModifiedPassword.newPassword" />
          <div class="form-errors" ng-messages="authenticationForm.password_confirmation.$error" ng-if='authenticationForm.password_confirmation.$touched'>
            <span class="form-error energized self-message" ng-message="required">需要确认新密码</span>
            <span class="form-error energized self-message" ng-message="password">新密码不匹配</span>
          </div>
        </label>
        <div class = "item button-bar">
            <button type="submit" class="button btn-primary button-positive" ng-disabled="authenticationForm.$invalid">确认</button>
            <button class="button button-light" ui-sref="settings">取消</button>
        </div>
      </form>
  </ion-content>
</ion-view>