<ion-view class="home-view">
  <ion-header-bar align-title="center" class="bar-dark flex-space-container">
    <button class="button icon ion-chevron-left self-bar-button" ng-click="goBack()"></button>
    <h1 class="bar-title" style="color:white" ng-if="type==1">我的提问</h1>
    <h1 class="bar-title" style="color:white" ng-if="type==2">我的抢答</h1>
  </ion-header-bar>
  <ion-content>
    <div ng-if="posts.length == 0">
      <h1 style="text-align: center;padding: 10px;">没有找到耶</h1>
    </div>

    <div ng-if="posts.length > 0">
      <div post-card ng-repeat="post in posts" class="post-card" style="margin: 5px"></div>
    </div>
  </ion-content>
</ion-view>
